/* css for general website layout */
* {
    color: white;
    font-family: 'Excelsior Comics Expanded';
}

body,
html {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    justify-content: space-between;
}

label,
p {
    margin-left: 20px;
    margin-right: 20px;
    font-size: 30px;
}

input {
    size: 50px;
}

label input[type="radio"] {
    transform: scale(2);
    margin-right: 8px;
}

section {
    max-width: 100%;
    margin: 0 auto;
}


label,
p {
    margin-left: 20px;
    margin-right: 20px;
    font-size: 30px;
}

.header {
    margin-top: 40px;
}

.display-3 {
    font-family: 'Excelsior Comics Expanded';
    font-weight: bolder;
    color: rgb(33, 37, 41);
}

.buttons {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 160px;
    text-align: center;
    margin-top: 20px;
}

button {
    padding: 15px 30px;
    margin: 0 20px 20px 20px;
    font-size: 40px;
    color: white;
    background-color: #f08503;
    border-radius: 60px;
    border: none
}

button:hover {
    background-color: #2f7e31;
    color: white;
}

.returnButton {
    margin-top: 30px;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}


.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: url('bg.png') repeat-x;
    background-size: cover;
    background-position: center center;
    /* Center the background image */
    background-attachment: fixed;
    /* Keep the background fixed */
    z-index: -1;
    /* Place the background behind other elements */
    opacity: .7;
}


.cell {
    width: 75px;
    height: 75px;
    box-shadow: 0 0 0 2px;
    font-size: 50px;
    cursor: pointer;
}

.marker {
    font-family: Verdana, Tahoma, sans-serif;
    text-align: center;
}

#containerWrapper {
    display: flex;
}

#leftRectangleContainer {
    width: 350px;
    /* Adjust the width as needed */
    background-color: rgb(33, 37, 41);
    margin: 20px 80px 20px 0;
    border-radius: 10px;
}

/* Styling for the left rectangle */
#leftRectangle {
    width: 100%;
    height: 100%;
}

#turnInfo {
    text-align: center;
    margin-top: 10px;
    font-size: 3.2em;
}

#scoreContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 4px;
    font-size: 4em;
}

#winCheck {
    text-align: center;
    margin-top: 20px;
    font-size: 2.5em;
}

#cellContainerWrapper {
    flex: 1;
    display: flex;
    justify-content: center;
}

#cellContainer {
    display: grid;
    grid-template-columns: repeat(6, auto);
    width: 500px;
    margin: auto;
    background-color: rgb(33, 37, 41);
    padding: 20px;
    border-radius: 10px;
}

#statusText {
    color: white;
}

#scoreBoard {
    display: grid;
    grid-template-columns: 1fr 1fr;

}

#countX {
    order: 0;
    width: 150px;
    flex-direction: column;
    align-items: center;
    display: flex;
    justify-content: space-between;
    border: 1px solid white;
}

#countO {
    order: 1;
    width: 150px;
    flex-direction: column;
    align-items: center;
    display: flex;
    justify-content: space-between;
    border: 1px solid white;
}

#scoreBoard h3 {
    color: white;
}

#countX h3,
#countO h3 {
    text-align: center;
}

footer p.lead {
    font-size: 30px;
    /* Adjust the font size as needed */
}